/*
  ** Mixins
*/
/*
  ** Animation
*/
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(-5px); } }

/*
  ** Layout
*/
body {
  max-width: 1100px;
  margin: 0 auto;
  background-color: beige;
  font-family: 'Open Sans', sans-serif; }

header, footer {
  height: 100px;
  background-color: beige; }

/*
  ** General
*/
selected {
  color: rgba(255, 0, 0, 0.5); }

.selected {
  padding: 10px;
  outline: 1px solid rgba(255, 0, 0, 0.5);
  animation-name: bounce;
  animation-duration: 1s; }

/*
  ** Products
*/
.products_wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px 0 0 0; }

#products {
  background-color: beige; }
  #products .product {
    float: left;
    margin-bottom: 20px;
    padding: 0 0 10px;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    vertical-align: top; }
    #products .product:hover {
      box-shadow: 0px 0px 5px grey; }
    #products .product img {
      display: block;
      max-width: 100%;
      padding: 0 0 5px 0; }
    #products .product > :not(img) {
      padding: 0 10px; }

@media only screen and (max-width: 767px) {
  #products .product {
    width: 48%;
    margin-right: 4%; }
    #products .product:nth-of-type(2n+0) {
      float: right;
      margin-right: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1099px) {
  #products .product {
    width: 31.63418%;
    margin-right: 2.54873%; }
    #products .product:nth-of-type(3n+0) {
      float: right;
      margin-right: 0; } }

@media only screen and (min-width: 1100px) {
  #products .product {
    margin-bottom: 30px;
    width: 22.09567%;
    margin-right: 3.87244%; }
    #products .product:nth-of-type(4n+0) {
      float: right;
      margin-right: 0; } }
